# Copyright (c) 2025 Deemen17 Works
# SPDX-License-Identifier: MIT

# --- Default Configuration ---
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y

# --- Board Configuration ---
CONFIG_BOARD_DE60_BLE_RED=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

CONFIG_ARM_MPU=y
CONFIG_PINCTRL=y
CONFIG_GPIO=y

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

# --- USB Configuration ---
CONFIG_USB_DEVICE_MANUFACTURER="DEEMEN17 WORKS"
CONFIG_USB_DEVICE_PRODUCT="DE60 BLE RED"

# --- RGB Underglow Configuration ---
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_WS2812_STRIP=y
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=y
CONFIG_ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE=y
CONFIG_ZMK_RGB_UNDERGLOW_ON_START=y
CONFIG_ZMK_RGB_UNDERGLOW_EFF_START=3

# --- External Power Control ---
CONFIG_ZMK_EXT_POWER=y

# --- Logging Configuration ---
CONFIG_ZMK_USB_LOGGING=n
CONFIG_SENSOR_LOG_LEVEL_DBG=n

# --- Power Management ---
# Idle timeout: 1 minutes (ms) = 60000
CONFIG_ZMK_IDLE_TIMEOUT=60000
CONFIG_ZMK_SLEEP=y
# Sleep timeout: 30 minutes (ms) = 1800000
CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=1800000
CONFIG_ZMK_PM_SOFT_OFF=y

# --- Battery Configuration ---
CONFIG_ZMK_BATTERY=y
CONFIG_ZMK_BATTERY_REPORTING=y

# --- ZMK Studio Configuration ---
CONFIG_ZMK_STUDIO=y
CONFIG_ZMK_STUDIO_LOCKING=n
CONFIG_ZMK_STUDIO_LOCK_ON_DISCONNECT=n				

# --- Bluetooth Connection Configuration ---
CONFIG_BT_CTLR_TX_PWR_PLUS_8=y
CONFIG_ZMK_BLE_EXPERIMENTAL_CONN=y

# --- HID Indicators ---
CONFIG_ZMK_HID_INDICATORS=y

# --- LED Configuration ---
CONFIG_LED=y

# --- Keyscan Debounce ---
CONFIG_ZMK_KSCAN_DEBOUNCE_PRESS_MS=5
CONFIG_ZMK_KSCAN_DEBOUNCE_RELEASE_MS=5

# --- Keyscan Configuration ---
# CONFIG_ZMK_KSCAN_MATRIX_WAIT_BEFORE_INPUTS=25

# --- RGBLED Widget Configuration ---
CONFIG_RGBLED_WIDGET=y
CONFIG_RGBLED_WIDGET_CAPS=y
# CONFIG_RGBLED_WIDGET_CONN_BLINK_MS=1000
# CONFIG_RGBLED_WIDGET_SHOW_LAYER_CHANGE=y

# --- Internal Crystal Only ---
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y

# --- N-Key Rollover ---
CONFIG_ZMK_HID_REPORT_TYPE_NKRO=y
